<!DOCTYPE html>
<html>
  <head>
    <title><%= @title%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

<link rel='dns-prefetch' href='https://code.jquery.com' />
<link rel='dns-prefetch' href='https://s.w.org' />
<link rel="alternate" type="application/rss+xml" title="Teach English in China - Current TEFL / ESL Teaching Jobs &raquo; Feed" href="feed/index.rss" />
<link rel="alternate" type="application/rss+xml" title="Teach English in China - Current TEFL / ESL Teaching Jobs &raquo; Comments Feed" href="comments/feed/index.rss" />
          <link rel="shortcut icon" href="/wp-content/uploads/2015/06/star-faxicon-16x16.png" type="image/x-icon" />
    
          <!-- For iPhone -->
      <link rel="apple-touch-icon" href="/wp-content/uploads/2015/06/star-faxicon-iphone-57.png">
    
          <!-- For iPhone Retina display -->
      <link rel="apple-touch-icon" sizes="114x114" href="/wp-content/uploads/2015/06/star-faxicon-iphone-retina-114.png">
    
          <!-- For iPad -->
      <link rel="apple-touch-icon" sizes="72x72" href="/wp-content/uploads/2015/06/star-faxicon-ipad-72.png">
    
          <!-- For iPad Retina display -->
      <link rel="apple-touch-icon" sizes="144x144" href="/wp-content/uploads/2015/06/star-faxicon-ipad-retina-144.png">
            <script type="text/javascript">
      window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/11\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/11\/svg\/","svgExt":".svg","source":{"concatemoji":"https:\/\/goldstarteachers.com\//wp-includes\/js\/wp-emoji-release.min.js?ver=4.9.8"}};
      !function(a,b,c){function d(a,b){var c=String.fromCharCode;l.clearRect(0,0,k.width,k.height),l.fillText(c.apply(this,a),0,0);var d=k.toDataURL();l.clearRect(0,0,k.width,k.height),l.fillText(c.apply(this,b),0,0);var e=k.toDataURL();return d===e}function e(a){var b;if(!l||!l.fillText)return!1;switch(l.textBaseline="top",l.font="600 32px Arial",a){case"flag":return!(b=d([55356,56826,55356,56819],[55356,56826,8203,55356,56819]))&&(b=d([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]),!b);case"emoji":return b=d([55358,56760,9792,65039],[55358,56760,8203,9792,65039]),!b}return!1}function f(a){var c=b.createElement("script");c.src=a,c.defer=c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var g,h,i,j,k=b.createElement("canvas"),l=k.getContext&&k.getContext("2d");for(j=Array("flag","emoji"),c.supports={everything:!0,everythingExceptFlag:!0},i=0;i<j.length;i++)c.supports[j[i]]=e(j[i]),c.supports.everything=c.supports.everything&&c.supports[j[i]],"flag"!==j[i]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[j[i]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(h=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",h,!1),a.addEventListener("load",h,!1)):(a.attachEvent("onload",h),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),g=c.source||{},g.concatemoji?f(g.concatemoji):g.wpemoji&&g.twemoji&&(f(g.twemoji),f(g.wpemoji)))}(window,document,window._wpemojiSettings);
    </script>
    <style type="text/css">img.wp-smiley,
img.emoji {
  display: inline !important;
  border: none !important;
  box-shadow: none !important;
  height: 1em !important;
  width: 1em !important;
  margin: 0 .07em !important;
  vertical-align: -0.1em !important;
  background: none !important;
  padding: 0 !important;
}
</style>

<!--[if IE]>
<link rel='stylesheet' id='mailchimpSF_ie_css-css'  href='..//wp-content/plugins/mailchimp/css/ie.css?ver=4.9.8' type='text/css' media='all' />
<![endif]-->
<link rel='stylesheet' id='layerslider-css'  href='/wp-content/plugins/LayerSlider/static/layerslider/css/layerslider-ver=6.7.6.css' type='text/css' media='all' />
<!-- <link rel='stylesheet' id='ls-google-fonts-css'  href='https://fonts.googleapis.com/css?family=Lato:100,300,regular,700,900%7COpen+Sans:300%7CIndie+Flower:regular%7COswald:300,regular,700&amp;subset=latin%2Clatin-ext' type='text/css' media='all' /> -->
<link rel='stylesheet' id='contact-form-7-css'  href='/wp-content/plugins/contact-form-7/includes/css/styles-ver=5.0.5.css' type='text/css' media='all' />
<link rel='stylesheet' id='rs-plugin-settings-css'  href='/wp-content/plugins/revslider/public/assets/css/settings-ver=5.4.7.4.css' type='text/css' media='all' />
<style id='rs-plugin-settings-inline-css' type='text/css'>#rs-demo-id {}
</style>
<link rel='stylesheet' id='chosen-css'  href='/wp-content/plugins/wp-job-manager/assets/css/chosen-ver=1.1.0.css' type='text/css' media='all' />
<link rel='stylesheet' id='wp-job-manager-frontend-css'  href='/wp-content/plugins/wp-job-manager/assets/css/frontend-ver=1.31.3.css' type='text/css' media='all' />
<link rel='stylesheet' id='fusion-core-style-css'  href='/wp-content/plugins/fusion-core/css/style.min-ver=4.9.8.css' type='text/css' media='all' />
<link rel='stylesheet' id='job-alerts-frontend-css'  href='/wp-content/plugins/wp-job-manager-alerts/assets/css/frontend-ver=4.9.8.css' type='text/css' media='all' />
<!-- <link rel='stylesheet' id='jquery-ui-css'  href='https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css?ver=1.11.4' type='text/css' media='all' /> -->
<link rel='stylesheet' id='jm-application-deadline-css'  href='/wp-content/plugins/wp-job-manager-application-deadline/assets/css/frontend-ver=1.0.css' type='text/css' media='' />
<link rel='stylesheet' id='wp-job-manager-applications-frontend-css'  href='/wp-content/plugins/wp-job-manager-applications/assets/css/frontend-ver=4.9.8.css' type='text/css' media='all' />
<link rel='stylesheet' id='embeddable-job-widget-frontend-css'  href='/wp-content/plugins/wp-job-manager-embeddable-job-widget/assets/css/frontend-ver=4.9.8.css' type='text/css' media='all' />
<link rel='stylesheet' id='wp-job-manager-tags-frontend-css'  href='/wp-content/plugins/wp-job-manager-tags/assets/css/style-ver=4.9.8.css' type='text/css' media='all' />
<link rel='stylesheet' id='avada-child-stylesheet-css'  href='/wp-content/themes/Avada-Child-Theme/style-ver=1.0.2.css' type='text/css' media='all' />
<link rel='stylesheet' id='avada-stylesheet-css'  href='/wp-content/themes/Avada/assets/css/style.min-ver=5.7.2.css' type='text/css' media='all' />
<link rel='stylesheet' id='fontawesome-css'  href='/wp-content/themes/Avada/includes/lib/assets/fonts/fontawesome/font-awesome.min-ver=5.7.2.css' type='text/css' media='all' />
<!--[if lte IE 9]>
<link rel='stylesheet' id='avada-IE-fontawesome-css'  href='/wp-content/themes/Avada/includes/lib/assets/fonts/fontawesome/font-awesome.min-ver=5.7.2.css' type='text/css' media='all' />
<![endif]-->
<!--[if IE]>
<link rel='stylesheet' id='avada-IE-css'  href='..//wp-content/themes/Avada/assets/css/ie.min.css?ver=5.7.2' type='text/css' media='all' />
<![endif]-->
<link rel='stylesheet' id='fusion-builder-shortcodes-css'  href='/wp-content/plugins/fusion-builder/css/fusion-shortcodes.min-ver=1.7.2.css' type='text/css' media='all' />
<link rel='stylesheet' id='fusion-builder-animations-css'  href='/wp-content/plugins/fusion-builder/assets/css/animations.min-ver=1.7.2.css' type='text/css' media='all' />
<link rel='stylesheet' id='fusion-builder-ilightbox-css'  href='/wp-content/plugins/fusion-builder/assets/css/ilightbox.min-ver=1.7.2.css' type='text/css' media='all' />
<link rel='stylesheet' id='popup-maker-site-css'  href='/wp-content/uploads/pum/pum-site-styles-generated=1540958345&amp;ver=1.7.30.css' type='text/css' media='all' />
<link rel='stylesheet' id='dashicons-css'  href='/wp-includes/css/dashicons.min-ver=4.9.8.css' type='text/css' media='all' />
<link rel='stylesheet' id='css-floatton-css'  href='/wp-content/plugins/floatton/assets/css/floatton.css' type='text/css' media='all' />
<script type='text/javascript' src='/wp-includes/js/jquery/jquery-ver=1.12.4.js'></script>
<script type='text/javascript' src='/wp-includes/js/jquery/jquery-migrate.min-ver=1.4.1.js'></script>
<script type='text/javascript' src='/wp-content/plugins/mailchimp/js/scrollTo-ver=1.5.7.js'></script>
<script type='text/javascript' src='/wp-includes/js/jquery/jquery.form.min-ver=4.2.1.js'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var mailchimpSF = {"ajax_url":"https:\/\/goldstarteachers.com\/"};
/* ]]> */
</script>
<script type='text/javascript' src='/wp-content/plugins/mailchimp/js/mailchimp-ver=1.5.7.js'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var LS_Meta = {"v":"6.7.6"};
/* ]]> */
</script>
<script type='text/javascript' src='/wp-content/plugins/LayerSlider/static/layerslider/js/greensock-ver=1.19.0.js'></script>
<script type='text/javascript' src='/wp-content/plugins/LayerSlider/static/layerslider/js/layerslider.kreaturamedia.jquery-ver=6.7.6.js'></script>
<script type='text/javascript' src='/wp-content/plugins/LayerSlider/static/layerslider/js/layerslider.transitions-ver=6.7.6.js'></script>
<script type='text/javascript' src='/wp-content/plugins/revslider/public/assets/js/jquery.themepunch.tools.min-ver=5.4.7.4.js'></script>
<script type='text/javascript' src='/wp-content/plugins/revslider/public/assets/js/jquery.themepunch.revolution.min-ver=5.4.7.4.js'></script>
<meta name="generator" content="Powered by LayerSlider 6.7.6 - Multi-Purpose, Responsive, Parallax, Mobile-Friendly Slider Plugin for WordPress." />
<!-- LayerSlider updates and docs at: https://layerslider.kreaturamedia.com -->
<link rel='https://api.w.org/' href='wp-json/index.json' />
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="xmlrpc.php-rsd.xml" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="/wp-includes/wlwmanifest.xml" /> 
<meta name="generator" content="WordPress 4.9.8" />
<link rel='shortlink' href='index.html' />
<link rel="alternate" type="application/json+oembed" href="wp-json/oembed/1.0/embed-url=https---goldstarteachers.com-.json" />
<link rel="alternate" type="text/xml+oembed" href="wp-json/oembed/1.0/embed-url=https---goldstarteachers.com-&amp;format=xml.xml" />
    <!-- // if ( is_singular( 'job_listing' ) ) {         -->
          <!-- echo ' -->
          <style type="text/css">.single_job_listing .application .application_details form.job-manager-application-form { display: none !important; }</style>
          <script>
              console.log('Page is loading...');
          </script>
          <!-- '; -->
      <!-- // } -->
  
<!-- Facebook Pixel Code -->

<!-- Facebook Pixel Code -->
<noscript>

</noscript>
<!-- End Facebook Pixel Code -->
<style id='job_manager_colors'>.job-type.term-660, .job-type.adults { color: #1e73be; } 
.job-type.term-674, .job-type.director-of-studies { color: #be24e5; } 
.job-type.term-666, .job-type.young-learners { color: #dd8f1a; } 
.job-type.term-671, .job-type.young-learners-and-adults { color: #7cd63b; } 
</style>
<meta name="generator" content="Powered by Slider Revolution 5.4.7.4 - responsive, Mobile-Friendly Slider Plugin for WordPress with comfortable drag and drop interface." />
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-108787154-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-108787154-1');
</script>

<style type="text/css">
#fakeprogress {
  background-color:#ceecff;
  border:2px solid #ADDEFC;
  background-image:url("/wp-content/uploads/2014/07/ajax-loader.gif");
  background-repeat:no-repeat;
  background-position:center 65px;
  height:120px;
  width:400px;
  position:absolute;
  top:50%;
  left:50%;
  margin-top:-60px;
  margin-left:-200px;
  z-index:100;
}
#fakeprogress h2 {
  text-align:center;
  margin:0;
  padding:25px 0 0 0;
  font-weight:bold;
  font-size:24px;
  font-family:sans-serif;
}
</style>

<meta name="p:domain_verify" content="6e9890c89d3e4d13918db388c93f8b34"/>


    <link rel="icon" href="/wp-content/uploads/2016/08/star-copy-150x150.png" sizes="32x32" />
<link rel="icon" href="/wp-content/uploads/2016/08/star-copy.png" sizes="192x192" />
<link rel="apple-touch-icon-precomposed" href="/wp-content/uploads/2016/08/star-copy.png" />
<meta name="msapplication-TileImage" content="/wp-content/uploads/2016/08/star-copy.png" />
<script type="text/javascript">function setREVStartSize(e){                 
            try{ e.c=jQuery(e.c);var i=jQuery(window).width(),t=9999,r=0,n=0,l=0,f=0,s=0,h=0;
              if(e.responsiveLevels&&(jQuery.each(e.responsiveLevels,function(e,f){f>i&&(t=r=f,l=e),i>f&&f>r&&(r=f,n=e)}),t>r&&(l=n)),f=e.gridheight[l]||e.gridheight[0]||e.gridheight,s=e.gridwidth[l]||e.gridwidth[0]||e.gridwidth,h=i/s,h=h>1?1:h,f=Math.round(h*f),"fullscreen"==e.sliderLayout){var u=(e.c.width(),jQuery(window).height());if(void 0!=e.fullScreenOffsetContainer){var c=e.fullScreenOffsetContainer.split(",");if (c) jQuery.each(c,function(e,i){u=jQuery(i).length>0?u-jQuery(i).outerHeight(!0):u}),e.fullScreenOffset.split("%").length>1&&void 0!=e.fullScreenOffset&&e.fullScreenOffset.length>0?u-=jQuery(window).height()*parseInt(e.fullScreenOffset,0)/100:void 0!=e.fullScreenOffset&&e.fullScreenOffset.length>0&&(u-=parseInt(e.fullScreenOffset,0))}f=u}else void 0!=e.minHeight&&f<e.minHeight&&(f=e.minHeight);e.c.closest(".rev_slider_wrapper").css({height:f})          
            }catch(d){console.log("Failure at Presize of Slider:"+d)}           
          };</script>

  <!--[if lte IE 8]>
  <script type="text/javascript">
  jQuery(document).ready(function() {
  var imgs, i, w;
  var imgs = document.getElementsByTagName( 'img' );
  for( i = 0; i < imgs.length; i++ ) {
    w = imgs[i].getAttribute( 'width' );
    imgs[i].removeAttribute( 'width' );Avada::c_pageID();
    imgs[i].removeAttribute( 'height' );
  }
  });
  </script>

  <script src="..//wp-content/themes/Avada/assets/js/excanvas.js"></script>

  <![endif]-->

  <!--[if lte IE 9]>
  <script type="text/javascript">
  jQuery(document).ready(function() {

  // Combine inline styles for body tag
  jQuery('body').each( function() {
    var combined_styles = '<style type="text/css">';

    jQuery( this ).find( 'style' ).each( function() {
      combined_styles += jQuery(this).html();
      jQuery(this).remove();
    });

    combined_styles += '</style>';

    jQuery( this ).prepend( combined_styles );
  });
  });
  </script>

  <![endif]-->

  <script type="text/javascript">
    var doc = document.documentElement;
    doc.setAttribute('data-useragent', navigator.userAgent);
  </script>

  
  <!-- Facebook Pixel Code -->
   
  </head>

  <body  class="home page-template page-template-100-width page-template-100-width-php page page-id-8600 fusion-image-hovers avada-child fusion-body ltr fusion-sticky-header no-mobile-sticky-header no-mobile-slidingbar fusion-disable-outline layout-boxed-mode layout-boxed-mode-full fusion-top-header menu-text-align-center mobile-menu-design-classic fusion-show-pagination-text fusion-header-layout-v3 avada-responsive avada-footer-fx-none fusion-search-form-classic fusion-avatar-square">


    <div id="wrapper" class="">
    <div id="home" style="position:relative;top:1px;"></div>
                  
    
      <header class="fusion-header-wrapper">
        <div class="fusion-header-v3 fusion-logo-center fusion-sticky-menu- fusion-sticky-logo- fusion-mobile-logo-  fusion-mobile-menu-design-classic">


  <div class="fusion-secondary-header"> 
   <div class="fusion-row"> 
    <div class="fusion-alignleft"> 
     <nav class="fusion-secondary-menu" role="navigation" aria-label="Secondary Menu">
      <ul id="menu-top-navigation" class="menu">
       <li id="menu-item-8627" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item menu-item-8627" data-item-id="8627"><a  class="fusion-bar-highlight" role="menuitem"><span class="menu-text">010-64630134</span></a></li>

       <li id="menu-item-8627" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item menu-item-8627" data-item-id="8627"><a class="fusion-bar-highlight" role="menuitem"><span class="menu-text">info@beijinglanguagecollege.com</span></a></li>       

        </ul></li>
      </ul>
     </nav>

    </div> 
    <div class="fusion-alignright"> 
     <div class="fusion-social-links-header">
      <div class="fusion-social-networks">
       <div class="fusion-social-networks-wrapper">
        <a class="fusion-social-network-icon fusion-tooltip fusion-mail fusion-icon-mail" style="color:#ffffff;" href="mailto:info@beijinglanguagecollege.com" target="_self" rel="noopener noreferrer" data-placement="bottom" data-title="Email" data-toggle="tooltip" title="" data-original-title="Email"><span class="screen-reader-text">Email</span></a>
        <a class="fusion-social-network-icon fusion-tooltip fusion-skype fusion-icon-skype" style="color:#ffffff;" href="skype:chinavisaagency?add" target="_blank" rel="noopener noreferrer" data-placement="bottom" data-title="Skype" data-toggle="tooltip" title="" data-original-title="Skype"><span class="screen-reader-text">Skype</span></a>
       </div>
      </div>
     </div> 
    </div> 
   </div> 
  </div>          
          

<div class="fusion-header-sticky-height"></div>
<div class="fusion-header">
  <div class="fusion-row">
          <div class="fusion-logo" data-margin-top="31px" data-margin-bottom="31px" data-margin-left="0px" data-margin-right="0px">
      <a class="fusion-logo-link"  href="#" >

            <!-- standard logo -->
      <img src="/wp-content/uploads/2016/09/gold-star-logo-TEFL-horizontal-1-1.png" srcset="/wp-content/uploads/2016/09/gold-star-logo-TEFL-horizontal-1-1.png 1x, /wp-content/uploads/2016/09/gold-star-logo-TEFL-horizontal-1-1.png 2x"  style="max-height: 60px;height:auto;" alt="Teach English in China &#8211; Current TEFL / ESL Teaching Jobs Logo" retina_logo_url="/wp-content/uploads/2016/09/gold-star-logo-TEFL-horizontal-1-1.png" class="fusion-standard-logo" />

      
          </a>
    </div>    
    <nav class="fusion-main-menu" aria-label="Main Menu">
      <ul id="menu-new-menu-2-0" class="fusion-menu">
<!--           <li id="menu-item-15588" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15588 <%= action_name == 'index' ? 'current-menu-item' : nil%>" data-item-id="15588">
            <a href="<%= root_path%>" class="<%= action_name == 'index' ? 'fusion-bar-highlight' : nil%>" role="menuitem">
              <span class="menu-text">关于我们</span>
            </a>
          </li>
 -->
          <li id="menu-item-8594" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-8594 fusion-megamenu-menu <%= action_name.match('index_gu_laoshi') ? 'current-menu-item' : nil%>" data-item-id="8594"><a href="javascript:;" class="fusion-bar-highlight" role="menuitem"><span class="menu-text">雇一位老师</span> <span class="fusion-caret"><i class="fusion-dropdown-indicator"></i></span></a>
           <div class="fusion-megamenu-wrapper fusion-columns-1 columns-per-row-1 columns-1 col-span-2" data-maxwidth="1230">
            <div class="row">
             <div class="fusion-megamenu-holder" style="width:282.9px;" data-width="282.9">
              <ul role="menu" class="fusion-megamenu ">
               <li id="menu-item-17398" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-17398 fusion-megamenu-submenu fusion-megamenu-submenu-notitle fusion-megamenu-columns-1 col-lg-12 col-md-12 col-sm-12" data-width="282.9" style="width:282.9px;max-width:282.9px;">
                <ul role="menu" class="sub-menu">
                <li id="menu-item-17914" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-17914 <%= action_name=='index_gu_laoshi' ? 'current_page_item' : nil%>"><a href="<%= index_gu_laoshi_welcome_index_path%>" class="fusion-bar-highlight" role="menuitem"><span><span class="fusion-megamenu-bullet"></span>雇一位老师</span></a></li>                  
     
    
                 <li id="menu-item-17914" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-17914 <%= action_name=='index_baojiang' ? 'current_page_item' : nil%>"><a href="<%= index_baojiang_welcome_index_path%>" class="fusion-bar-highlight" role="menuitem"><span><span class="fusion-megamenu-bullet"></span>推荐和评论</span></a></li>       
                 <li id="menu-item-17914" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-17914 <%= action_name=='index_fukuan' ? 'current_page_item' : nil%>"><a href="<%= index_fukuan_welcome_index_path%>" class="fusion-bar-highlight" role="menuitem"><span><span class="fusion-megamenu-bullet"></span>如何付款</span></a></li>                       

                <li id="menu-item-17334" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-17334 <%= action_name=='index' ? 'current_page_item' : nil%>"><a href="<%= root_path%>" class="fusion-bar-highlight" role="menuitem"><span><span class="fusion-megamenu-bullet"></span>关于我们</span></a></li>                 
              </ul>
             </div>
             <div style="clear:both;"></div>
            </div>
           </div>
        </li>           


          <li id="menu-item-8594" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-8594 fusion-megamenu-menu <%= action_name.match('beijing_waijiao') ? 'current-menu-item' : nil%>" data-item-id="8594"><a href="javascript:;" class="fusion-bar-highlight" role="menuitem"><span class="menu-text">学校外教</span> <span class="fusion-caret"><i class="fusion-dropdown-indicator"></i></span></a>
           <div class="fusion-megamenu-wrapper fusion-columns-1 columns-per-row-1 columns-1 col-span-2" data-maxwidth="1230">
            <div class="row">
             <div class="fusion-megamenu-holder" style="width:282.9px;" data-width="282.9">
              <ul role="menu" class="fusion-megamenu ">
               <li id="menu-item-17398" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-17398 fusion-megamenu-submenu fusion-megamenu-submenu-notitle fusion-megamenu-columns-1 col-lg-12 col-md-12 col-sm-12" data-width="282.9" style="width:282.9px;max-width:282.9px;">
                <ul role="menu" class="sub-menu">
                 <li id="menu-item-17334" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-17334 <%= action_name=='beijing_waijiao_paiqian' ? 'current_page_item' : nil%>"><a href="<%= beijing_waijiao_paiqian_welcome_index_path%>" class="fusion-bar-highlight" role="menuitem"><span><span class="fusion-megamenu-bullet"></span>北京全职外教派遣</span></a></li>
                 <li id="menu-item-17914" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-17914 <%= action_name=='beijing_waijiao_jianzhi_waijiao_paiqian' ? 'current_page_item' : nil%>"><a href="<%= beijing_waijiao_jianzhi_waijiao_paiqian_welcome_index_path%>" class="fusion-bar-highlight" role="menuitem"><span><span class="fusion-megamenu-bullet"></span>北京兼职外教派遣</span></a></li>
                 <li id="menu-item-17336" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-17336 <%= action_name=='beijing_waijiao_waidi_quanzhi_waijiao_paiqian' ? 'current_page_item' : nil%>"><a href="<%= beijing_waijiao_waidi_quanzhi_waijiao_paiqian_welcome_index_path%>" class="fusion-bar-highlight" role="menuitem"><span><span class="fusion-megamenu-bullet"></span>外地全职外教派遣</span></a></li>
                 <li id="menu-item-17337" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-17337 <%= action_name=='beijing_waijiao_xuexiao_waijiao_faq' ? 'current_page_item' : nil%>"><a href="<%= beijing_waijiao_xuexiao_waijiao_faq_welcome_index_path%>" class="fusion-bar-highlight" role="menuitem"><span><span class="fusion-megamenu-bullet"></span>学校外教-常见问题</span></a></li>                
              </ul>
             </div>
             <div style="clear:both;"></div>
            </div>
           </div>
        </li> 




          <li id="menu-item-8594" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-8594 fusion-megamenu-menu <%= action_name.match('geren_waijiao') ? 'current-menu-item' : nil%>" data-item-id="8594"><a href="javascript:;" class="fusion-bar-highlight" role="menuitem"><span class="menu-text">个人外教</span> <span class="fusion-caret"><i class="fusion-dropdown-indicator"></i></span></a>
           <div class="fusion-megamenu-wrapper fusion-columns-1 columns-per-row-1 columns-1 col-span-2" data-maxwidth="1230">
            <div class="row">
             <div class="fusion-megamenu-holder" style="width:282.9px;" data-width="282.9">
              <ul role="menu" class="fusion-megamenu ">
               <li id="menu-item-17398" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-17398 fusion-megamenu-submenu fusion-megamenu-submenu-notitle fusion-megamenu-columns-1 col-lg-12 col-md-12 col-sm-12" data-width="282.9" style="width:282.9px;max-width:282.9px;">
                <ul role="menu" class="sub-menu">
                 <li id="menu-item-17334" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-17334 <%= action_name=='geren_waijiao_fuwu_youshi' ? 'current_page_item' : nil%>"><a href="<%= geren_waijiao_fuwu_youshi_welcome_index_path%>" class="fusion-bar-highlight" role="menuitem"><span><span class="fusion-megamenu-bullet"></span>个人外教-服务优势</span></a></li>
                 <li id="menu-item-17914" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-17914 <%= action_name=='geren_waijiao_fuwu_liucheng' ? 'current_page_item' : nil%>"><a href="<%= geren_waijiao_fuwu_liucheng_welcome_index_path%>" class="fusion-bar-highlight" role="menuitem"><span><span class="fusion-megamenu-bullet"></span>个人外教-服务流程</span></a></li>
                 <li id="menu-item-17336" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-17336 <%= action_name=='geren_waijiao_shoufei_qingkuang' ? 'current_page_item' : nil%>"><a href="<%= geren_waijiao_shoufei_qingkuang_welcome_index_path%>" class="fusion-bar-highlight" role="menuitem"><span><span class="fusion-megamenu-bullet"></span>个人外教-收费情况</span></a></li>
                 <li id="menu-item-17337" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-17337 <%= action_name=='geren_waijiao_changjian_wenti' ? 'current_page_item' : nil%>"><a href="<%= geren_waijiao_changjian_wenti_welcome_index_path%>" class="fusion-bar-highlight" role="menuitem"><span><span class="fusion-megamenu-bullet"></span>个人外教-常见问题</span></a></li>                
              </ul>
             </div>
             <div style="clear:both;"></div>
            </div>
           </div>
        </li> 


          <li id="menu-item-8594" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-8594 fusion-megamenu-menu <%= action_name.match('zhujia_waijiao') ? 'current-menu-item' : nil%>" data-item-id="8594"><a href="javascript:;" class="fusion-bar-highlight" role="menuitem"><span class="menu-text">住家外教</span> <span class="fusion-caret"><i class="fusion-dropdown-indicator"></i></span></a>
           <div class="fusion-megamenu-wrapper fusion-columns-1 columns-per-row-1 columns-1 col-span-2" data-maxwidth="1230">
            <div class="row">
             <div class="fusion-megamenu-holder" style="width:282.9px;" data-width="282.9">
              <ul role="menu" class="fusion-megamenu ">
               <li id="menu-item-17398" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-17398 fusion-megamenu-submenu fusion-megamenu-submenu-notitle fusion-megamenu-columns-1 col-lg-12 col-md-12 col-sm-12" data-width="282.9" style="width:282.9px;max-width:282.9px;">
                <ul role="menu" class="sub-menu">
                 <li id="menu-item-17334" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-17334 <%= action_name=='zhujia_waijiao_fuwu_youshi' ? 'current_page_item' : nil%>"><a href="<%= zhujia_waijiao_fuwu_youshi_welcome_index_path%>" class="fusion-bar-highlight" role="menuitem"><span><span class="fusion-megamenu-bullet"></span>住家外教-服务优势</span></a></li>
                 <li id="menu-item-17914" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-17914 <%= action_name=='zhujia_waijiao_fuwu_liucheng' ? 'current_page_item' : nil%>"><a href="<%= zhujia_waijiao_fuwu_liucheng_welcome_index_path%>" class="fusion-bar-highlight" role="menuitem"><span><span class="fusion-megamenu-bullet"></span>住家外教-服务流程</span></a></li>
                 <li id="menu-item-17336" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-17336 <%= action_name=='zhujia_waijiao_jiating_xuzhi' ? 'current_page_item' : nil%>"><a href="<%= zhujia_waijiao_jiating_xuzhi_welcome_index_path%>" class="fusion-bar-highlight" role="menuitem"><span><span class="fusion-megamenu-bullet"></span>住家外教-家庭须知</span></a></li>
                 <li id="menu-item-17337" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-17337 <%= action_name=='zhujia_waijiao_changjian_wenti' ? 'current_page_item' : nil%>"><a href="<%= zhujia_waijiao_changjian_wenti_welcome_index_path%>" class="fusion-bar-highlight" role="menuitem"><span><span class="fusion-megamenu-bullet"></span>住家外教-常见问题</span></a></li>                
              </ul>
             </div>
             <div style="clear:both;"></div>
            </div>
           </div>
        </li> 






          <li id="menu-item-8594" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-8594 fusion-megamenu-menu <%= action_name.match('waiguo_lietou') ? 'current-menu-item' : nil%>" data-item-id="8594"><a href="javascript:;" class="fusion-bar-highlight" role="menuitem"><span class="menu-text">外国猎头</span> <span class="fusion-caret"><i class="fusion-dropdown-indicator"></i></span></a>
           <div class="fusion-megamenu-wrapper fusion-columns-1 columns-per-row-1 columns-1 col-span-2" data-maxwidth="1230">
            <div class="row">
             <div class="fusion-megamenu-holder" style="width:282.9px;" data-width="282.9">
              <ul role="menu" class="fusion-megamenu ">
               <li id="menu-item-17398" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-17398 fusion-megamenu-submenu fusion-megamenu-submenu-notitle fusion-megamenu-columns-1 col-lg-12 col-md-12 col-sm-12" data-width="282.9" style="width:282.9px;max-width:282.9px;">
                <ul role="menu" class="sub-menu">
                 <li id="menu-item-17334" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-17334 <%= action_name=='waiguo_lietou_fuwu_liucheng' ? 'current_page_item' : nil%>"><a href="<%= waiguo_lietou_fuwu_liucheng_welcome_index_path%>" class="fusion-bar-highlight" role="menuitem"><span><span class="fusion-megamenu-bullet"></span>外国猎头-服务流程</span></a></li>
                 <li id="menu-item-17914" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-17914 <%= action_name=='waiguo_lietou_shoufei_qingkuang' ? 'current_page_item' : nil%>"><a href="<%= waiguo_lietou_shoufei_qingkuang_welcome_index_path%>" class="fusion-bar-highlight" role="menuitem"><span><span class="fusion-megamenu-bullet"></span>外国猎头-收费情况</span></a></li>
        
              </ul>
             </div>
             <div style="clear:both;"></div>
            </div>
           </div>
        </li> 



          <li id="menu-item-15588" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15588 <%= action_name == 'contact_us' ? 'current-menu-item' : nil %>" data-item-id="15588">
            <a href="<%= contact_us_welcome_index_path%>" class="<%= action_name == 'contact_us' ? 'fusion-bar-highlight' : nil%>" role="menuitem">
              <span class="menu-text">联系我们</span>
            </a>
          </li>

      </ul>
    </nav>
<nav class="fusion-mobile-nav-holder fusion-mobile-menu-text-align-left" aria-label="Main Menu Mobile"></nav>

          </div>
</div>
        </div>
        <div class="fusion-clearfix"></div>
      </header>
          
    
    
    <%= yield%>
      
                    
    <div class="fusion-footer">                                         
<!--       <footer id="how-to-pay" class="fusion-footer-copyright-area">      
        <div class="fusion-row">
          <div class="fusion-copyright-content">
            <div class="fusion-copyright-notice" style="line-height: 30px;">              
            <%= image_tag 'payment.jpg', style: 'border-radius: 100%;', size: '30x30'%>
            <a href="#" style="margin-left: 10px;">如何付款</a>
            <a href="<%= contact_us_welcome_index_path%>" style="margin-left: 30px;">联系我们</a>
          </div>
        </div>
      </footer>   -->    
      <footer id="footer" class="fusion-footer-copyright-area">      
        <div class="fusion-row">
          <div class="fusion-copyright-content">
            <div class="fusion-copyright-notice"> 
            版权所有2009 - 2029 北京汉院TEFL招聘 | 保留所有权利 |
          </div>
        </div>
      </footer>
    </div>
    
  </body>
</html>
